# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bcb9d939457561a3f9e498e70376bf2da0673eead49ae75270ae523934b41681d1c13f7c75133ac7af4c31d0a150f6153adb012a6e22ac7cadc924fb2aeb8f7a

test:
  secret_key_base: 2d14e2d7a929268d5b4e6bdc76297859765d8103985e40b917e10679c427842b06183f700b056cb8e90084b752e7e7ad3c9ca1e0960c93ad3db4eb3c180dae0e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
